<% if @base_branches %>
<p>

<label><%= l :issue_form_feature_branch_for %></label>
<%=select_tag "base_branch_name",
   options_for_select(@base_branches)
%>
<%# TODO Get 'submit_tag l :issue_form_create_branch, :name => 'create_feature_branch' ' to work %>
<input name="create_feature_branch" value="<%= l :issue_form_create_branch %>" type="submit">

</p>
<% end %>
