<% if @main_branch_names %>
<p>

<label><%= l :issue_form_feature_branch_for %></label>
<%=select_tag "main_branch_name",
   options_for_select(@main_branch_names)
%>
<%# TODO Get 'submit_tag l :issue_form_create_branch, :name => 'create_feature_branch' ' to work %>
<input name="create_feature_branch" value="<%= l :issue_form_create_branch %>" type="submit">

</p>
<% end %>
