test_configuration:
  cmd_git: /usr/local/git/bin/git
  cmd_ssh: /usr/bin/ssh
  cmd_bash: /bin/bash

  gerrit_git_url: ssh://FebeeTestUser@localhost:29418/FebeeTestProject.git
  gerrit_private_key_file: config/test_redmine_private_key/redmine_rsa